# MediatR Commercial License Key
# OPTIONAL - Startup continues without this key (community edition used)
# Copy this file to infra/secrets/mediatr.secret and fill in the value

MEDIATR_LICENSE_KEY=your_mediatr_license_key_here # gitguardian:ignore
